.login-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instruction {
    padding: 40px;
    min-width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
}

.instr__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-box__text {
    padding: 0 20px;
}
.btn-box__text span{
    margin-left: 10px;
    color: green;
    cursor: pointer;
}
.btn-box button {
    margin-left: auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
}