.memory-page {
    min-height: 90vh;
    display: flex;
}
.category-bar {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
}
.category__list {
    padding: 30px 10px 20px 40px;
    width: 220px;
    min-height: 100px;
    border-bottom: 2px solid black;
    background: #FFF3EB;
}
.list-name {
    margin-bottom: 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
}
.categories {
    padding-left: 10px;
    display: inline-flex;
    flex-direction: column;
}
.category-name{
    margin-bottom: 5px;
    padding: 0 10px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.category-name p{
    font-size: 1.3em;
}
.category-name::before {
    margin-left: -25px;
    content: url("../../../img/egyptian-cat.png");
    display: inline-block;
    position: absolute;
}
/*@keyframes active-cn {*/
/*    from {margin-left: 0}*/
/*    to {margin-left: 20px}*/
/*}*/
.category-name.active::before {
    content: url("../../../img/toyger-cat.png");
    /*animation: active-cn 1s linear forwards;*/
}
.category-bar .btn-add {
    padding: 5px 20px;
    margin: 30px auto 0 auto;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
}
.content-bar {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
}
.content-name {
    padding: 20px 40px;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.content-name__text {
    margin: 0 auto;
    min-height: 40px;
    display: flex;
    align-items: center;
}
.content-name__text input{
    padding: 0 10px;
    max-width: 250px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    text-align: center;
}
.content-name .btn-remove{
    padding: 5px 20px;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
}
.memories-select {
    width: 120px;
}
.content__items {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-end;
}
.btn-add-box {
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add-box button {
    padding: 5px 20px;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
}
.item {
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    /*position: relative;*/
}
/*.item .btn-remove {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background: transparent;*/
/*    border: none;*/
/*    color: #c40000;*/
/*    position: absolute;*/
/*}*/
.item__img-box {
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7ecef;
    border-right: 1px solid black
}
.item__content-box {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item__content-box .text-box{
    padding: 10px;
    min-width: 100%;
    min-height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.item__content-box .rating-box {
    padding: 5px;
    min-width: 100%;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .content-name {
        flex-direction: column-reverse;
    }
}