.memory-page {
    display: flex;
}
.category-bar {
    min-width: 20vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
}
.category__list {
    padding: 30px 10px 20px 40px;
    min-height: 100px;
    border-bottom: 2px solid black;
    background: #FFF3EB;
}
.list-name {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.categories {
    padding-left: 10px;
    display: inline-flex;
    flex-direction: column;

}
.category-name{
    max-width: 220px;
    margin-bottom: 5px;
    padding: 0 10px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.category-name a{
    font-size: 1.3em;
}
.btn-add {
    padding: 5px 20px;
    margin: 30px auto 0 auto;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
}
.content {
    min-width: 80vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}
.content-name {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.content-name input{
    padding: 0 10px;
    width: 250px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    text-align: center;
}
.content__items {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-end;
}
.item {
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.item__img-box {
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black
}
.item__text-box {
    min-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__text-box a{
    font-size: 1.3em;
}