.memory-page {
    min-width: 100vw;
    display: flex;
}

.left-bar {
    width: 220px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
}

.category-list {
    padding: 30px 10px 20px 40px;
    border-bottom: 2px solid black;
    background: #FFF3EB;
}

.list-name {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.categories {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.category-name {
    margin-bottom: 5px;
    background: transparent;
    cursor: pointer;
    position: relative;
    font-size: 1.2em;
}

.category-name::before {
    margin-left: -25px;
    content: url("../../../img/egyptian-cat.png");
    display: inline-block;
    position: absolute;
}

.category-name.active::before {
    content: url("../../../img/toyger-cat.png");
}

.category-list__btn-box {
    display: flex;
}
.category-list__btn-box .btn-add {
    padding: 5px 20px;
    margin: 30px auto 10px auto;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
}

.memory-page .content {
    width: calc(100vw - 220px);
    display: flex;
    flex-direction: column;
}

.content-top {
    padding: 30px 40px;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    position: relative;
}

.content-name {
    font-size: 1.5em;
    font-weight: bold;
}

.content-name input {
    padding: 0 10px;
    max-width: 250px;
    border: none;
    text-align: center;
}

.content-top .btn-remove {
    padding: 5px 20px;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    right: 40px;
}

.memories-select {
    width: 122px;
    position: absolute;
    left: 40px;
}

.content__items {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-end;
}

.btn-add-box {
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-box button {
    padding: 5px 20px;
    background: #FFF3EB;
    border: 2px solid black;
    border-radius: 25px;
}

.item {
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    /*position: relative;*/
}

/*.item .btn-remove {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background: transparent;*/
/*    border: none;*/
/*    color: #c40000;*/
/*    position: absolute;*/
/*}*/
.item__img-box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7ecef;
    border-right: 1px solid black
}

.item__content-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__content-box .text-box {
    width: 100%;
    height: 70%;
    display: flex;
    border-bottom: 1px solid black;
}
.item__content-box .text-box textarea {
    padding: 0 5px;
    line-height: 1.4;
    border: none;
    outline: none;
    cursor: pointer;
}

.item__content-box .rating-box {
    padding: 5px;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {

}