header {
    padding: 0 40px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    background: #E0AB9A;
}

.nav {
    display: flex;
    flex-direction: row;
}
.nav li {
    margin-left: 10px;
    cursor: pointer;
}
.user-icon {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    background-image: url("../../img/user_icon.png");
    background-position: top;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 50%;
}